*{
    margin: 0;
    padding: 0;
}
img{
    max-width:100%;
    height:50vh;
    margin:auto;
    display:block;
    padding-bottom: 8px;
    padding-top: 8px;
  }
h1,h2,p,figcaption{
    text-align: center;
}
#timeline{
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #382E33;
    color:white;
    margin: 10px 10px;
    border-radius: 5px;
}
ul,h2{
    padding-bottom: 15px;
    margin-left: 50px;
}
#section-1{
    background-color: #382E33;
    color:white;
    padding-top: 45px;
    padding-bottom: 45px;
    color:white;
    border-radius: 5px;
    margin: 10px 10px;
}
body{
    background-color: #8ecae6;
}
p{
    font-size:20px;
}
a{
    color:aqua;
}
li{
    margin:16px;
    font-size: 17px;
}